.searchMovieInput{
    text-align: center;
    margin: 30px;
}
.searchMovieInput input{
    padding: 8px 45px;
    border: 1px solid chocolate;
    border-radius: 60px;
    color: #333;
}

.searchMovieInput Button{
    border-radius: 2px;
    background:transparent;
    padding: 3px 6px;
    margin: none;
    cursor: pointer;
    outline: none;
    border: none
}
.searchMovieInput Button svg:hover{
    text-shadow: 2px 3px 4px blue;
    color: #fff;
    transition: all 0.3s ease 0s;
}