.container-footer{
    display: flex;
    justify-content: center;
    text-align: center;
    position:fixed;
    bottom:0;
   width:100%;
}

.footerDetails{
    width: 100%;
    background: chocolate;
}
.footer-p{
    font-size: 18px;
    margin: 10px;
}
